@import "@/styles/animations";
@import "@/styles/variables";

.container {
  padding: 10px;
}

.company {
  margin: 30px 10px;
  padding: 0px 10px;
  border: 1px solid $primary-color-darker;
}

.company_header_container {
  display: flex;
  justify-content: space-between;
  transform: translateY(-20px);
}

.company_name {
  background-color: #ffffff;
  color: $primary-color-darker;
  padding: 0px 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  transform: translateY(-5px);
}

.position {
  border: 1px solid $primary-color-darker;
  padding: 5px;
  margin-bottom: 30px;
}

.position_name_container {
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-25px);
}

.position_name {
  background-color: #ffffff;
  padding: 0px 10px;
  text-align: left;
}

.role_description_container {
  margin-left: 50px;
  transform: translateY(-20px);
}

.role_description_container li {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  padding: 2px;
}
