.container {
  padding: 10px 10px 20px 10px;
  border-bottom: 1px solid #c70007;
}
.info {
  display: flex;
  align-items: center;
  height: 35px;
  font-size: 1.2rem;
}

.icon {
  font-size: 1.6rem;
  margin-right: 30px;
  padding-top: 5px;
}
