@import "@/styles/animations";
@import "@/styles/variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 35px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid $primary-color-darker;
  z-index: 1000;
  backdrop-filter: blur(6px);
}

.nav_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  transform: translateY(2px);
}

.nav {
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  padding: 3px 12px;
  margin: 0 4px;
  border-radius: 6px 6px 0 0;
  background-color: transparent;
  color: $primary-color;
  border: none;
  transition: all 0.3s ease-in-out;
  text-decoration: none;

  &:hover {
    color: white;
    background-color: $primary-color-transparent-darker;
  }
}

.nav_active {
  font-size: 0.8rem;
  font-weight: 600;
  cursor: default;
  padding: 3px 12px;
  margin: 0 4px;
  color: $primary-color;
  border-bottom: none;
  text-decoration: none;
  border-bottom: 3px solid $primary-color-darker;
}
