.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #c70007;
}

.nav_container {
  width: 768px;
  display: flex;
  justify-content: space-evenly;
}

.nav {
  color: #999;
}

.nav:hover {
  color: white;
}
