@import "@/styles/animations";
@import "@/styles/variables";

.container {
  text-align: center;
  padding: 10px calc(20vw / 2);

  h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 42px;
    color: transparent;
    background-image: $header-primary-color-gradiant;
    display: inline-block;
    background-clip: text;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    animation: slide-down-shorter 1s ease-out;

    &:hover {
      transform: scale(1.1);
      text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
  }
}

.group {
  margin-bottom: 40px;
  text-align: left;

  .category {
    font-size: 1.2rem;
    font-weight: 600;
    color: $primary-color-darker;
    margin: 20px 0 10px;
    animation: fade-in 1s ease-out;
    text-align: center;
  }
}

.bar_container {
  display: flex;
  align-items: center;
  margin-top: 1px;
  width: 100%;

  .bar_title {
    flex: 0 0 30%;
    font-size: 0.9rem;
    margin-right: 10px;
    text-align: right;
    color: $primary-color-darkest;
    animation: slide-right 1s ease-out;
    transform: translateX(-100px);
    animation-fill-mode: forwards;
    opacity: 0;
  }

  .bar {
    flex: 1;
    background-color: $primary-color;
    height: 22px;
    border: 1px solid $primary-color-darkest;
    animation: slide-left 1s ease-out;
    transform: translateX(100px);
    animation-fill-mode: forwards;
    opacity: 0;

    .bar_value {
      height: 20px;
      background-color: $secondary-color-darker;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: white;
      font-size: 0.8rem;
      width: 0%;
      transition: width 2s ease-out;
      animation: growBar 2s forwards 1s;
      padding-left: 50px;
    }
  }
}

@media (max-width: 1060px) {
  .skills {
    padding: 10px 20px;
  }
}

@media (max-width: 890px) {
  .skills {
    h2 {
      font-size: 30px;
    }
  }
  .bar_container {
    .bar_title {
      width: 260px;
      font-size: 1rem;
    }
  }
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
    h2 {
      font-size: 30px;
    }
  }

  .bar_container {
    flex-direction: column;
    align-items: flex-start;

    .bar_title {
      width: 210px;
      font-size: 0.8rem;
      text-align: left;
    }
    .bar {
      width: 100%;
      .bar_value {
        font-size: 0.7rem;
        padding-left: 30px;
      }
    }
  }
}
